# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# группировка по количеству детей и подсчет количества задолженностей для кажой группы
data.groupby('children')['debt'].sum()

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64

In [23]:
# подсчет общего количества клиентов с группировкой по количеству детей
data['children'].value_counts()

0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

In [24]:
# отношение должников к общему количеству клиентов, упорядоченное по убыванию
(data.groupby('children')['debt'].sum() / data['children'].value_counts()).sort_values(ascending=False)

children
4    0.097561
2    0.094542
1    0.092346
3    0.081818
0    0.075438
5    0.000000
dtype: float64

У клиентов с пятью детьми нет долгов, однако выборка слишком мала - всего 9 человек, поэтому можно этими данными пренебречь. Видно, что процент должников среди людей без детей меньше, попробуем разделить еще на две категории - клиенты с детьми (кроме клиентов с пятью детьми) и клиенты без детей.

In [25]:
columns = ['', 'clients with debt', 'all clients', 'percentage of debtors']
data_children = [
    [
        'with children', 
         data[(data['children'] > 0) & (data['children'] != 5)]['debt'].sum(),
         data[(data['children'] > 0) & (data['children'] != 5)]['debt'].count(),
         (data[(data['children'] > 0) & (data['children'] != 5)]['debt'].sum() / data[(data['children'] > 0) & (data['children'] != 5)]['debt'].count()) * 100
    ],
    [
        'without children', 
         data[data['children'] == 0]['debt'].sum(),
         data[data['children'] == 0]['debt'].count(),
         (data[data['children'] == 0]['debt'].sum() / data[data['children'] == 0]['debt'].count()) * 100
    ]
]
pd.DataFrame(data=data_children, columns=columns)

                     clients with debt  all clients  percentage of debtors
0     with children                669         7231               9.251832
1  without children               1063        14091               7.543822

**Вывод:** Количество клиентов без детей существенно больше, чем с детьми, поэтому и должников среди них больше, однако в процентном соотношении все наоборот: только `7,5%` клиентов без детей имеют задолженности. Клиентов с 5-ю детьми можно не учитывать, т.к. выборка недостаточна - всего `9` человек. Таким образом получается, что клиенты без детей чаще возвращают кредиты в срок, чем клиенты с детьми: `7.5%` должников против `9.3%`.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [26]:
# группировка по семейному положению и подсчет количества задолженностей для кажой группы
data.groupby('family_status')['debt'].sum()

family_status
Не женат / не замужем    273
в разводе                 84
вдовец / вдова            63
гражданский брак         385
женат / замужем          927
Name: debt, dtype: int64

In [27]:
# подсчет общего количества клиентов с группировкой по семейному положению
data['family_status'].value_counts()

женат / замужем          12261
гражданский брак          4134
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
Name: family_status, dtype: int64

In [28]:
# отношение должников к общему количеству клиентов, упорядоченное по убыванию
(data.groupby('family_status')['debt'].sum() / data['family_status'].value_counts()) \
    .sort_values(ascending=False)

Не женат / не замужем    0.097639
гражданский брак         0.093130
женат / замужем          0.075606
в разводе                0.070648
вдовец / вдова           0.066246
dtype: float64

Можно заметить, что процент должников, среди людей, которые не состоят и не состояли в зарегистрированном браке не сильно отличается друг от друга, но отличается от остальных категорий. Разделим клиентов еще на две категории - клиенты, состоявшие в зарегистрированном браке и клиенты, которые никогда не регистрировали свои отношения.

In [29]:
columns = ['', 'clients with debt', 'all clients', 'percentage of debtors']
data_family = [
    [
        'registered relationship', 
         data[(data['family_status'] == 'женат / замужем') |
              (data['family_status'] == 'в разводе') |
              (data['family_status'] == 'вдовец / вдова')]['debt'].sum(),
         data[(data['family_status'] == 'женат / замужем') |
              (data['family_status'] == 'в разводе') |
              (data['family_status'] == 'вдовец / вдова')]['debt'].count(),
         (data[(data['family_status'] == 'женат / замужем') |
              (data['family_status'] == 'в разводе') |
              (data['family_status'] == 'вдовец / вдова')]['debt'].sum() / 
          data[(data['family_status'] == 'женат / замужем') |
              (data['family_status'] == 'в разводе') |
              (data['family_status'] == 'вдовец / вдова')]['debt'].count()) * 100
    ],
    [
        'unregistered relationship', 
         data[(data['family_status'] == 'Не женат / не замужем') |
              (data['family_status'] == 'гражданский брак')]['debt'].sum(),
         data[(data['family_status'] == 'Не женат / не замужем') |
              (data['family_status'] == 'гражданский брак')]['debt'].count(),
         (data[(data['family_status'] == 'Не женат / не замужем') |
              (data['family_status'] == 'гражданский брак')]['debt'].sum() / 
          data[(data['family_status'] == 'Не женат / не замужем') |
              (data['family_status'] == 'гражданский брак')]['debt'].count()) * 100
    ]
]
pd.DataFrame(data=data_family, columns=columns)

,,clients with debt,all clients,percentage of debtors
0,registered relationship,1074,14401,7.457815
1,unregistered relationship,658,6930,9.494949

**Вывод:** Клиенты, которые не состоят и не состояли в зарегистрированных отношениях чаще имеют задолженности по кредитам, чем люди, которые вступали в такие отношения (`9.5%` против `7.5%`). Разница внутри данных категорий не слишком выражена: неженатые люди и состоящие в гражданском браке имеют примерно одинаковый процент должников, женатые / в разводе / вдовцы также не имеют существенных различий.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [30]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

In [31]:
# группировка по категории дохода и подсчет количества задолженностей для кажой группы
data.groupby('total_income_category')['debt'].sum()

total_income_category
A       2
B     354
C    1353
D      21
E       2
Name: debt, dtype: int64

In [32]:
# подсчет общего количества клиентов с группировкой по категории дохода
data['total_income_category'].value_counts()

C    15921
B     5014
D      349
A       25
E       22
Name: total_income_category, dtype: int64

In [33]:
# отношение должников к общему количеству клиентов, упорядоченное по убыванию
(data.groupby('total_income_category')['debt'].sum() / 
 data['total_income_category'].value_counts()). \
    sort_values(ascending=False)

E    0.090909
C    0.084982
A    0.080000
B    0.070602
D    0.060172
dtype: float64

**Вывод:** Всего `6%` клиентов из категории `D` и `7%` из категории `B` имеют долги, это самые низкие показатели. Можно предположить, что клиенты, которые имеют доходы несколько выше минимальных и несколько ниже максимальных, имеют меньше задолженностей, чем клиенты, входящие в категории минимальных, максимальных и средних доходов.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [34]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data.groupby('purpose_category')['debt'].sum().sort_values(ascending=False)

purpose_category
операции с недвижимостью    780
операции с автомобилем      400
получение образования       369
проведение свадьбы          183
Name: debt, dtype: int64

In [35]:
data['purpose_category'].value_counts()

операции с недвижимостью    10751
операции с автомобилем       4279
получение образования        3988
проведение свадьбы           2313
Name: purpose_category, dtype: int64

In [36]:

(data.groupby('purpose_category')['debt'].sum() / data['purpose_category'].value_counts()). \
    sort_values(ascending=False)

операции с автомобилем      0.093480
получение образования       0.092528
проведение свадьбы          0.079118
операции с недвижимостью    0.072551
dtype: float64

**Вывод:** При оперциях с недвижимостью и проведении свадьбы процент должников существенно не отличается, также как при операциях с автомобилем и получением образования. Можно сказать, что при проведении свадьбы и операциях с недвижимостью должников будет меньше на `1.4-2%`.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски в исходных данных находятся в колонках `days_employed` и `total_income` - это дни трудового стажа и доходы клиентов. Такие пропуски могли возникнуть из-за того, что эти данные не предоставил клиент. Также возможно, что клиент не работал официально, поэтому трудовой стаж и доход неизвестен.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Возможно наличие значений сильно отличающихся от основной массы. Например, в данном проекте мы заполняли медианным значением пропуски по доходам в зависимости от типа занятости: могли быть клиенты, которые имели сильно высокие доходы в данной категории и они увеличивали бы значение, если бы мы взяли среднее арифметическое.

### Шаг 4: общий вывод.

**Есть ли зависимость между количеством детей и возвратом кредита в срок?**

Имеется зависимость только от наличия детей. Люди без детей реже имеют задолженности по кредитам. От количества, если есть уже хоть один ребенок, зависимости существенной нет.

**Есть ли зависимость между семейным положением и возвратом кредита в срок?**

Люди, которые состоят или когда-либо состояли в зарегистрированных отношениях, чаще возвращают кредит в срок, чем люди, которые никогда в таких отношениях не состояли. Зависимости среди внутренних подкатегорий нет.

**Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

Люди, которые имеют доход несколько выше минимального, но ниже среднего, а также те, кто имеет доход выше среднего, но ниже максимального, реже имеют долги по кредитам. Клиенты с самыми низкими, самыми выскоми и средними доходами чаще имеют задолженности и существенно не отличаются друг от друга.

**Как разные цели кредита влияют на его возврат в срок?**

Среди людей, которые берут кредит для операций с недвижимостью и для проведении свадьбы, должников меньше, чем среди тех, кто берет кредит для получения образования и операций с автомобилем.